# Build docs while project is still private
# .github/workflows/docs.yml
# TODO: Remove when repository becomes public
name: Build and Deploy Documentation

on:
  push:
    branches: [main]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Install minimal dependencies for type hints that might be referenced
          pip install anndata numpy pandas
          # Install doc building tools
          pip install docutils ipykernel ipython myst-nb setuptools sphinx sphinx-autodoc-typehints sphinx-book-theme sphinx-copybutton sphinx-tabs sphinxcontrib-bibtex sphinxext-opengraph

      - name: Build documentation
        run: |
          sphinx-build -b html docs docs/_build/html

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire html directory
          path: "docs/_build/html"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
